@import "grid";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
body {
  background-image: url(/Users/motographer/Desktop/urlshrtn/client/src/assets/images/bg.jpg);
  font-family: "Roboto", sans-serif;
  background-color: #cccccc;
  color: #fff;
}

.container {
  max-width: 1336px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-wrap {
  width: 100%;
}

header {
  max-width: 300px;
  margin: auto;
  h1 {
    margin: 0;
    font-size: 88px;
    font-weight: 700px;
    span {
      color: blueviolet;
    }
  }
  small {
    color: red;
    display: block;
    font-size: 14px;
    text-align: right;
  }
}

form {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  fieldset {
    border: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    outline: none;
    box-shadow: none;
    input:focus {
      outline: none;
      border: none;
      box-shadow: none;
      outline-offset: 0px;
    }
    #result {
      display: block;
      padding: 20px;
      text-align: center;
      color: #fff;
      border-radius: 0 0 10px 10px;
      background: darken(#323052, 10%);
    }
    input[type="text"] {
      width: 100%;
      padding: 20px;
      padding-right: auto;
    }
    input[type="submit"] {
      position: absolute;
      background: black;
      border: none;
      color: #fff;
      top: 0;
      right: 0;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 15px;
      height: 100%;
      padding: auto;
      cursor: pointer;
      transition: 0.6s all;
      &:hover {
        background: lighten(#108d7d, 10%);
      }
    }
  }
}

.hide-result {
  opacity: 0;
}

.display-result {
  opacity: 1;
  transition: 0.3s all;
}
